\documentclass[
    fgcolor={lightgray},
    bgcolor={raisin-black},
    accentcolor={owl-red-var},
]{owl-card}

\definecolor{lightgray}{rgb}{0.75,0.75,0.75}
\definecolor{owl-red-var}{rgb}{1.0,0.125,0.375}
\definecolor{raisin-black}{rgb}{0.15,0.15,0.16}

\ocDocInfo{
    givenname={<VAR>givenname</VAR>},
    lastname={<VAR>lastname</VAR>},
    additionalnames={<VAR>additionalnames</VAR>},
    honoricprefix={<VAR>honoricprefix</VAR>},
    honoricsuffix={<VAR>honoricsuffix</VAR>},
    birthday={<VAR>birthday</VAR>},
    street={<VAR>street</VAR>},
    locality={<VAR>locality</VAR>},
    region={<VAR>region</VAR>},
    postalcode={<VAR>postalcode</VAR>},
    country={<VAR>country</VAR>},
    email={<VAR>email</VAR>},
    phone={<VAR>phone</VAR>},
    web={<VAR>web</VAR>},
    github={<VAR>github</VAR>},
    linkedin={<VAR>linkedin</VAR>},
    pgpkey={<VAR>pgpkey</VAR>},
}

\begin{document}
    \MakeCard{}%
\end{document}
